/*RESET CSS BEGIN*/


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;

}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

/*RESET CSS END*/


/*HELPER CLASS BEGIN*/

.alignLeft {
    float: left;
}

.alignRight {
    float: right;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

strong,
b {
    font-weight: 700;
}

em,
i {
    font-style: italic;
}

p,
ul li,
ol li {
    font-size: 16px;
    line-height: 23px;
    margin: 0 0 20px 0;
}

ul li,
ol li {
    margin-bottom: 10px;
}

img {
    max-width: 100%;
}


/*HELPER CLASS END*/

* {
    box-sizing: border-box;
    outline: 0;
}

/* ==================== SECTION HOME===================================================================== */

.cover-main {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/hero-bg.jpg)right bottom no-repeat;
    background-size: cover;
    height: 95vh;
}

/*******************==============NAVIGATION=======******************* */

header {
    background: transparent;
    width: 100%;
    position: relative;
}

/* sticky header */
header.sticky {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    transform: translateY(-200%);
    transition: 0.2s;
    z-index: 5;
}

body.scroll header.sticky {
    transform: translateY(0);
}

nav.nav-wrapper .logo a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    padding: 0 15px 0 0;
    border-right: 2px solid cyan;
    text-transform: capitalize;
}

.nav-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.nav-wrapper ul li {
    display: inline-block;
    padding: 0 10px;
    margin-bottom: 0;
}

nav.nav-wrapper ul li a {
    /* letter-spacing: .1rem; */
    font-size: 17px;
    line-height: 22px;
    text-transform: capitalize;
    text-decoration: none;
    display: block;
    color: white;
    cursor: pointer;
    /* border-bottom: 1px solid transparent;
    transition: 0.3s; */
    padding-bottom: 6px;
    position: relative;

}

/* nav.nav-wrapper ul li a:hover {
            border-bottom: 1px solid #fff;
        } */

nav.nav-wrapper ul li a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%) scaleX(0);
    transform: translateX(-50%) scaleX(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    width: 100%;
    height: 1px;
    background: #fff;
    transition: -webkit-transform 250ms;
    transition: transform 250ms;
    transition: transform 250ms, -webkit-transform 250ms;


}

nav.nav-wrapper ul li a:hover::after {
    -webkit-transform: translateX(-50%) scaleX(1);
    transform: translateX(-50%) scaleX(1);
}


/* ================parallax============================= */
.wrapper {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

ul#scene {
    margin-top: 100px;
    text-transform: uppercase;
}

ul#scene li.name {
    text-align: center;
    font-size: 40px;
    line-height: 45px;
    font-weight: 700;
    text-shadow: .1rem .1rem .8rem black;
    text-transform: uppercase;
    color: #fff;
    width: 100%;

}

ul#scene li.title {
    text-align: center;
    font-size: 30px;
    line-height: 35px;
    text-shadow: .1rem .1rem .5rem black;
    color: #fff;
    width: 100%;
    margin-top: 60px;

}

.btn {
    width: 100%;
    text-align: center;
    margin-top: 150px;
}

.portfolio-btn,
.contact-btn {
    margin: 0 auto;
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #fff;
    background: transparent;
    color: white;
    text-decoration: none;
    transition: 0.3s;
    border-radius: 0;
    border-width: medium;

}

.portfolio-btn {
    margin-right: 30px;

}

.contact-btn {
    margin-left: 30px;
}

.portfolio-btn:hover,
.contact-btn:hover {
    background: #fff;
    color: black;
}

/* =================PARALLAX END===================================== */


/* =================SECTION PROJECTS===================================== */
section.masonry-grid {
    position: relative;
}

h2.subtitle {
    position: relative;
    margin: 70px auto;
    text-align: center;
    font-size: 35px;
    line-height: 40px;
    display: block;
    text-transform: capitalize;

}

h2.subtitle::after {
    content: '';
    display: block;
    background: black;
    width: 100px;
    height: 2px;
    margin: 30px auto 0 auto;
}

.grid {
    margin: 0 auto;

}

.grid-item {
    width: 450px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}


.grid-item .content-slide-up {
    position: absolute;
    width: 100%;
    padding: 10px;
    bottom: -100px;
    /* left: 50%; */
    /* transform: translate(-50%, 0); */
    transition: 0.6s;
    /* opacity: 0; */
    z-index: 1;
}

.grid-item .content-slide-up>p {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    padding: 10px auto 0 auto;
    font-size: .9rem;
    text-shadow: .1rem .1rem .5rem #fff;
    font-weight: 400;

}


.grid-item:hover .content-slide-up {
    /* transform: translate(0%, 0%); */
    bottom: 25%;
    opacity: 1;

}

.content-slide-up>hr.underline {
    border: 1px solid cyan;
    width: 200px;
    height: 2px;
    margin: 15px auto 0 auto;
}

.grid-item .overlay-slide-down {
    height: 0%;
    width: 100%;
    background: #333;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: .5s;
}

.grid-item:hover .overlay-slide-down {
    opacity: .85;
    height: 100%;
}


/* =================SECTION PROJECTS===================================== */