* {
    box-sizing: border-box;
    font-family: 'Play', sans-serif;
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: 'Play', sans-serif;
    min-width: 320px;
    color: green;
    background: #1e1e1e;
}

p{
    font-family: 'Marvel', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

h1 {
    font-size: 1.7em;
}


nav {

    position: fixed;
    top: 0;
    left: 0;
    min-height: 62px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    border-bottom: 1px solid rgba(255, 187, 51, 0.8);

}

nav #brand {
    text-decoration: none;
    color: #fb3;
}

#nav-links ul {
    display: flex;
    justify-content: space-between;

}

#nav-links ul li {
    list-style: none;
    display: inline-block;

}

#nav-links ul li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 0px 20px;
    text-transform: capitalize;

}

.white{
    background-color: white;
}

.grey{
    background-color: lightgrey;
}

section{
    padding:65px 20px 65px 20px ;

}



#welcome-section{
    margin-top: 65px;
    height: 100vh;
    width: 100%;
    background:url("https://scontent.fnbo4-1.fna.fbcdn.net/v/t1.0-9/20229405_1706669236029083_6279413777970904779_n.jpg?_nc_cat=104&_nc_eui2=AeHz1dLQxBksls3Zd_Q0wCMPzLLSFWF2JvI8XnImoyIO2hs7i90zq6X7lD9r9am4C2rvafPdm7gGle00-3u3jeGrFpmKzLqgEiTGJ-dwrcn4Xg&_nc_ht=scontent.fnbo4-1.fna&oh=184bdfc6b0133072d40396367076899f&oe=5D06B957");
    background-attachment: scroll;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#welcome-img{
    max-width:240px;
}

#welcome-img img{
    border-radius: 60%;
}

#welcome-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

section header{
    justify-self:center; 
    margin: 10px 0px 10px 0px;
}

/* project sections */
section#projects{
    display: grid;
    grid-template-rows: repeat(auto-fit,(2,1fr));
    grid-row-gap: 15px;
}

section#projects .row{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,auto));
    grid-gap: 10px;
}


section .row .card{
    position: relative;
    /* border: 1px solid #fb4; */
    /* border-radius: 15px; */
    width: 100%;
   
}

section .row .card > .overlay{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(135deg,rgba(60, 64, 143, 0.5),rgba(91,97,207,0.95)) ;
    visibility: hidden;
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 5px;
    justify-content: center; 
    color: #eee;

}

.overlay > p{
    text-align: center;
}

.overlay > hr.line{
    border: 1px solid #fb3;
    width: 90%;
    margin: 20px 0px 20px 0px;
}

section .row .card span{
    position:absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    background: #1e1e1e;
    opacity: .7;
    height: 25px;
    color: #00ff8c;
    
}

section .row .card:hover{
    /* opacity: 0.5;
    background: #eee; */
    visibility: hidden;

}

section .row .card:hover > .overlay{
    visibility: visible;
    background: linear-gradient(135deg,rgba(60, 64, 143, 0.5),rgba(91,97,207,0.95)) ;
    opacity: 1;

}

/* skills section */
section#skills{
    display: grid;
    grid-template-rows: repeat(auto-fit,(2,auto));
    grid-row-gap: 15px;
}

.skills-row{
    display: grid;
    grid-template-rows: repeat(2,auto);
    grid-row-gap: 15px;
    align-items: center;
    /* width: 0%; */
    
}
/* this bars are a pain where the sun dont shine */
.skills-row .bar{
    position: relative;
    background: lightgray;
    width: 100%;
    height: 25px;
    display: flex;
    
    
}

.skills-row .bar >.bar-fill{
    display: flex;
    background: #00ff8c;
    /* height: 100%; */
    /* flex-direction: column;
    align-items: center;
    justify-items: center; */
}

.bar-fill .tag-skill{
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    height: 100%;
    background: #038349;
    color: #fff;
    width: 25%;
    text-align: center;
    font-size:15px;
    text-transform: capitalize;
}

.bar span{
    position: absolute;
    top:0;
    right:0;
    bottom: 0;
    
}

/* about section */
section#about{
    display: grid;
    grid-template-rows: repeat(3,auto);
    grid-row-gap:15px; 
    /* background: url("https://scontent.fnbo4-1.fna.fbcdn.net/v/t1.0-9/19731903_1689872361042104_2649919361307696237_n.jpg?_nc_cat=108&_nc_eui2=AeFJsgolNt_RfcnvKR66NhctZ2TxKb-M_bh-qOBry1pgTl7ZTT8BH00ictYoYqENYxjvsUMeuVdf4rtXuj4qwyK305xkd067JtQKP5OPcS_iKA&_nc_ht=scontent.fnbo4-1.fna&oh=a5cb529bb59b2d1219b39b28da436437&oe=5D2014D8");
    background-size: contain;
    background-position: center right;
    background-attachment: fixed;
    background-repeat: no-repeat; */

}


section#about > #brief{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,auto));
    align-items: center;
    justify-items: center;
    grid-column-gap: 10px;
}


#brief > #brief-img img{
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;

}

#brief-content{
    /* text-align: center; */
    /* display: grid;
    grid-template-rows: repeat(2,auto);
    grid-gap:5px; 
    border-left:solid #1e1e1e; */

}


section#about >#random-facts{
    display: grid;
    grid-template-rows: repeat(3,auto);
    grid-gap:10px; 
}

#random-facts h3{
    /* text-align: center; */
}

#random-facts .likes-slide{
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

#random-facts .likes-slide::-webkit-scrollbar{
    display: none;
}

#random-facts .likes-slide  img{
    display: inline-block;
    max-width: 320px;
  
}

/* contact section */

section#contact{
    display:grid;
    grid-template-rows: repeat(2,auto);
    grid-row-gap: 30px;
    justify-items: center;
    align-items: center;
    text-align: center;

}


.social{
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
}

.social a{
    cursor: pointer;
    padding: 0px 20px;

}


i.fa{ 
    font-size: 28px;
    color: #00ff8c;
}





